@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap');

body {
  background-color: white;
  font-family: Poppins, sans-serif;
}

.imagen_bg {
  background-image: url("/css/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  height: 100vh;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  padding: 0 24px;
}

.mylogo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.section1 {
  width: 327px;
  margin: 0 24px;
}

.presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 100px;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons-media {
  display: flex;
  padding-left: 24px;
}

.icon {
  padding-right: 20px;
}
