/* @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap'); */
body {
  font-family: Poppins, sans-serif;
  background-color: #f7f7f9;
  margin: 0;
}

.container0 {
  width: 375px;
  margin: 0;
  padding: 0;
}

.first_section {
  background-color: #f7f7f9;
  width: 100%;
  margin: 0;
  padding-bottom: 114px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

figure {
  display: flex;
  margin: 16px;
}

.imagen_bg {
  background-color: white;
  background-size: cover;
  background-image: url("/css/header-shapes_mobile.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  height: 718px;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.container .middle-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f9;
  padding-bottom: 114px;
}

.ms1 {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 327px;
}

.ms2 {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 327px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  padding: 0 24px;
  background-color: white;
}

.mylogo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.presentation1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 100px;
  margin: 0;
  padding-left: 24px;
  padding-right: 100px;
}

.presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0;
  padding-left: 16px;
}

.description1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 16px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0 24px;
}

.icons-media {
  display: flex;
}

.icon {
  padding-right: 20px;
  padding-left: 0;
  float: left;
  text-align: left;
}

.counter {
  padding-right: 10px;
  float: left;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  padding-right: 10px;
  float: left;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.language {
  float: left;
  text-align: left;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 4px 12px;
  border: #ebebff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project {
  width: 295px;
  height: 72px;
  top: 260px;
  padding-left: 16px;
  border: none;
}

.button_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  border: 1px solid  #6070ff;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.button_project:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.button_project:active {
  background: #2230d2;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}

.list_icon {
  padding-left: 24px;
  padding-right: 24px;
}

.list_middle {
  padding-left: 16px;
}

.presentation2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0;
  padding-left: 24px;
  padding-top: 114px;
}

.about_myself {
  background-color: white;
  border-top-right-radius: 80px;
  height: 1200px;
  width: 375px;
  margin: auto;
}

.button_resume {
  width: 295px;
  height: 72px;
  top: 260px;
  padding-left: 24px;
  border: none;
}

summary {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow {
  padding-left: 150px;
}

.icon_languaje {
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0 0 0;
  display: flex;
}

.link_leng {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-self: center;
  color: #253858;
}

.icon_leng {
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9.72px;
}

.list_detail {
  margin: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dfe1e6;
}

.list_icons_lengs {
  padding: 0;
}

.list_skill {
  padding: 0;
}

.sec3 {
  background-color: white;
  width: 375px;
  margin: auto;
}

.contact {
  width: 375px;
  background-image: url(./contact_form.svg);
  background-color: #6070ff;
  height: 830px;
  background-size: cover;
  border-top-left-radius: 80px;
  padding-top: 30px;
  margin: auto;
}

.contactme {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  padding-top: 80px;
  text-align: center;
}

.contact p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 24px;
  margin-right: 24px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form .input {
  width: 100%;
}

.contact_text {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 90%;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px 12px 15px 12px;
  margin-left: 24px;
}

.button_touch {
  margin-left: 24px;
  background: #fff;
  border: 1px solid  #6070ff;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  width: 140px;
  height: 48px;
}

.button_touch:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
}

.button_touch:active {
  background: #2230d2;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  letter-spacing: 0.03em;
  color: #fff;
}

@media (max-width: 780px) {
  .menu_desk {
    display: none;
  }
}

@media (min-width: 780px) {
  .nav-menu {
    position: fixed;
    z-index: 100;
    height: 104px;
    display: flex;
    width: 1393px;
  }

  #icon-menu {
    display: none;
  }

  .first_section {
    display: flex;
    width: 100%;
  }

  .menu_desk {
    display: flex;
    width: 100%;
  }

  .menu_desk li {
    padding-right: 32px;
    float: left;
    text-align: right;
  }

  .menu_desk li a {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
  }

  .container0 {
    width: 1440px;
    margin: auto;
    padding: 0;
  }

  .imagen_bg {
    background-color: white;
    background-size: cover;
    background-image: url("./Headerbg2x.png");
    background-repeat: no-repeat;
    border-bottom-left-radius: 80px;
    height: 718px;
    margin-top: 104px;
  }

  .section0 {
    padding-right: 260px;
    padding-left: 260px;
    padding-top: 87px;
  }

  figure img {
    width: 544px;
    height: 448px;
  }

  .ms1 {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row;
  }

  .ms1 > div {
    width: 50%;
  }

  .ms1 > div > fieldset {
    margin: 16px;
    padding: 0;
  }

  .mds22 {
    margin-left: 23px;
  }

  .ms2 {
    width: 1156px;
    height: 496px;
    display: flex;
    flex-direction: row-reverse;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .middle-sec {
    padding-bottom: 100px;
  }

  .ms2 > div {
    width: 50%;
    margin-left: 48px;
  }

  .about_myself {
    width: 1440px;
    height: 900px;
  }

  .section1 {
    width: 1156px;
    height: 496px;
    display: flex;
    padding: 142px;
  }

  .section1 > div {
    width: 50%;
    padding-right: 48px;
  }

  .presentation {
    padding-top: 50px;
  }

  .presentation2 {
    padding-top: 0;
  }

  .arrow {
    padding-left: 350px;
  }

  .sec3 {
    width: 1440px;
    height: 846px;
  }

  .contact_background {
    background-color: #6070ff;
    border-top-left-radius: 80px;
    margin: auto;
    padding: 80px;
  }

  .contact {
    background-size: contain;
    background-image: url(/css/contact_formx2.svg);
    width: 1290.66px;
    height: 718.7px;
    display: flex;
    flex-direction: column;
  }

  .contact_text {
    width: 569px;
    align-self: center;
    padding-bottom: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 447px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .form {
    align-self: center;
  }

  .button_touch {
    align-self: center;
  }

  .list_icons_lengs {
    display: flex;
    flex-direction: row;
  }

  .icon_languaje {
    display: block;
    display: inline-flex;
    width: 122px;
    height: 120px;
    margin-left: 12px;
  }

  .icon_leng {
    margin: 0;
    width: 48px;
    height: 48px;
    padding: 12px;
  }

  .link_leng {
    position: absolute;
    margin-left: 12px;
    margin-top: 12px;
    margin-bottom: 30px;
    padding-top: 100px;
    justify-content: center;
  }
}
