/* @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300;400;500;600;700&family=Poppins&family=Roboto:wght@700&display=swap'); */

body {
  font-family: Poppins, sans-serif;
  background-color: #f7f7f9;
  width: 375px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

figure {
  display: flex;
  margin: 16px;
}

.imagen_bg {
  background-color: white;
  background-size: cover;
  background-image: url("/css/header-shapes_mobile.png");
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  height: 100vh;
  margin-left: -10px;
}

.container {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.container .middle-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #f7f7f9;
  padding-top: 114px;
}

.ms1 {
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 327px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 104px;
  padding: 0 24px;
  background-color: white;
  margin-left: -10px;
  margin-top: -10px;
}

.mylogo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

.presentation1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-top: 100px;
  margin: 0;
  padding-left: 24px;
}

.presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0;
  padding-left: 16px;
}

.description1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 24px;
  padding-right: 24px;
}

.description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-left: 16px;
}

.connect {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin: 0 24px;
}

.icons-media {
  display: flex;
}

.icon {
  padding-right: 20px;
  padding-left: 0;
  float: left;
  text-align: left;
}

.counter {
  padding-right: 10px;
  float: left;
  text-align: left;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.canopy {
  padding-right: 10px;
  float: left;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.language {
  float: left;
  text-align: left;
  background: #ebebff;
  border-radius: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 4px 12px;
  border: #ebebff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background: #fff;
  border: 1px solid  #6070ff;
  box-sizing: border-box;
  border-radius: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.button_project {
  width: 295px;
  height: 72px;
  top: 260px;
  padding-left: 16px;
  border: none;
}

.list_icon {
  padding-left: 24px;
  padding-right: 24px;
}

.list_middle {
  padding-left: 16px;
}

.presentation2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 0;
  padding-left: 24px;
  padding-top: 114px;
}

.about_myself {
  background-color: white;
  border-top-right-radius: 80px;
  height: 1263px;
  margin-left: -10px;
}

.button_resume {
  width: 295px;
  height: 72px;
  top: 260px;
  padding-left: 24px;
  border: none;
}

summary {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.arrow {
  padding-left: 150px;
}

.icon_languaje {
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px 0 0 0;
}

.link_leng {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

.icon_leng {
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 9px;
  padding-bottom: 9.72px;
}

.list_detail {
  margin: 36px;
  padding-bottom: 24px;
  border-bottom: 1px solid #dfe1e6;
}

.list_icons_lengs {
  padding: 0;
}
